<!DOCTYPE html>
<html ng-app="UsuarioApp" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Cadastro de Usuários</title>
<style type="text/css">
.jumbotron {
	width: 600px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
</style>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript" src="angular/angular.js" ></script>
<script type="text/javascript" src="angular/angular-messages.js" ></script>


	 <script type="text/javascript">
		angular.module("UsuarioApp", ["ngMessages"]);	
			angular.module("UsuarioApp").controller("usuarioController", function($scope, $http){


				$scope.app = "Login Usuario";
				$scope.usuario = {};
				$scope.senha = {};
				$scope.registroNaoExiste = false;
				

				
				var endpoint = "http://localhost:8080/usuario";
			

				$scope.logarUsuario = function (usuario) {

					var config = {
 					   params: {
        					email: usuario.email,
        					senha: usuario.senha

    					}
					};
					
					$http.get(endpoint, config).then(function(result){
						
						window.location.href = "menu.html";
						console.log(result.data);
						sessionStorage.setItem('usuario', JSON.stringify(result.data));
	
					}, function(result) {
   						console.log('Request failed');
   						$scope.registroNaoExiste = true;
				    });
				};

				
			});
		
		
		
		</script>


</head>
<body ng-controller="usuarioController">

	<form name="frmUsuario" style="margin: 20px 0">

		<div class="jumbotron">

			<h2 class="form-signin-heading">Entre com o usuário e senha</h2>
			<div class="form-group">



					<tr>
						<td><span class="label label-default">Email:</span></td>
						<td><input type="text" class="form-control" style="min-width:400px;"
							placeholder="Email" ng-required="true" ng-model="usuario.email" /></td>
					</tr>

					<tr>
						<td><span class="label label-default">Senha:</span></td>
						<td><input type="password" class="form-control"
							placeholder="Senha" ng-required="true" ng-model="usuario.senha" /></td>
					</tr>
				</table>
			</div>
			<div>
				<button type="submit" ng-click="logarUsuario(usuario)" ng-disabled="contatoForm.$invalid" class="btn btn-primary">Login</button>
				
				<a href="cadastro.html" class="btn btn-primary">Cadastrar</a>
				<a href="recuperarSenha.html" class="btn btn-primary">Recuperar senha</a>
				<a href="alterarSenha.html" class="btn btn-primary">Alterar senha</a>

			</div>	
		</div>

		<div ng-show="registroNaoExiste" class="alert alert-danger">
			Email ou senha inválida
		</div>
		


	</form>
</body>
</html>